<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>TechFlow Tasks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="container mt-5">
    <h1>Gerenciador de Tarefas TechFlow</h1>
    <hr>
    <ul class="list-group">
        <form action="/add" method="POST" class="mb-4">
            <input type="text" name="content" class="form-control" placeholder="Nova tarefa..." required>
            <button type="submit" class="btn btn-primary mt-2">Adicionar</button>
        </form>
        
        {% for task in tasks %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ task.content }}
        <a href="{{ url_for('delete', task_id=task.id) }}" class="btn btn-danger btn-sm">Excluir</a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>